@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

/* Base text styles */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #f4f4f4;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	color: #232323;
	word-wrap: break-word;
	word-break: break-all;
}

h1, h2, h3 {
	line-height: 1.3;
	font-weight: normal;
}

h1, h2, h3 {
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
}
em {
	font-style: normal;
	border-bottom: 2px dotted;
	padding-bottom: .05em;
}
h1 {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

h1 {
	font-size: 30px;
	text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
	margin: 15px 0 5px 0;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a small {
	font-size: 12px;
}

strong {
	font-weight: 700;
}

ul {
	list-style: none;
}

blockquote {
	margin: 5px 0;
	padding: 8px 0 8px 10px;
	font-size: 14px;
	position: relative;
	font-family: Georgia, "Times New Roman", Times, "STFangsong", "KaiTi", serif;
	font-weight: 100;
	line-height: 27px;
	border-left: 4px solid #999;
	background-color: #f6f6f6;
}

dl, dt, dd, dl p {
	font-color: #444;
}

dl dt {
	font-weight: bold;
}

dl dd {
	padding-left: 20px;
}

dl p {
	padding-left: 20px;
	font-style: italic;
}

hr {
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 0 0 24px;
}

/* Images */

img {
	max-width: 100%;
}

/* Code blocks */

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 14px;
}
pre > code {
	white-space: normal;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
}
code {
	margin: 0 2px;
	padding: 3px 5px;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
	white-space: nowrap;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 10px 15px;
	border-radius: 3px;
	overflow: auto;
	overflow-y: hidden;
	margin: 20px 2em;
}

/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background-color: #F9F9F9;
}
tr:hover {
	background-color: #f3f3f3;
}
th {
	background-color: #e8e8e8;
	/*	color: white;*/
	font-weight: bold;
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
}

/*公共元素样式：begin*/
.tag-box > li {
	display: inline-block;
}
.tag-box a {
	background-color: rgb(241,108,50);
	opacity: 0.7;
	color: #fff;
	padding: 2px 5px;
	margin-right: 4px;
	border-radius: 4px;
}
.tag-box a:hover {
	opacity: 1;
}

/*公共元素样式：end*/

/* Header */

.side-box {
	width: 240px;
	padding-top: 25px;
	position: fixed;
	left: 40px;
	top: 0;
	/*opacity: .4;*/
	-webkit-transition: all .2s ease-in;
	padding-bottom: 60px;
	-webkit-font-smoothing: antialiased;
	background-color: #F0F0F0;
}

.side-box:hover {
	opacity: 1;
}

.avator-box {
	width: 170px;
	position: relative;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ccc;
}
.avator-mask {
	position: absolute;
	width: 170px;
	height: 130px;
	top: 0;
	left: 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	/*	background: -webkit-gradient(radial, center, center, from(rgba(255,0,0,1)), to(rgba(0,255,0,.25)));
	 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
	 background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#7db9e8 100%);*/
	/* For WebKit */
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,0,0,.1)), to(rgba(0,0,255,.25)));
	/* For Mozilla */
	background: -moz-linear-gradient(top, rgba(255,0,0,1), rgba(0,0,255,.25));
	/* For lt IE8 */
	filter: progid :DXImageTransform.Microsoft.gradient(gradientyype=0,
	startColorstr='#88ff0000', endColorstr='#3300ff00');
	/* For gt IE8 */
	-moz-filter: progid :DXImageTransform.Microsoft.gradient(gradientyype=0,
	startColorstr='#88ff0000', endColorstr='#3300ff00');
}
.avator {
	display: block;
	/*width: 170px;*/
}

.top-bg {
	width: 100%;
	height: 20px;
	overflow: hidden;
	/*position:fixed;
	 top:0;*/
	background: url(../images/sunflower.jpg);
}

/* Wrapper */
.wrapper {
	padding-top: 20px;
}
/* Section - for main page content */

.left-col {
	width: 12%;
	float: left;
}
.main-col {
	float: left;
	width: 88%;
	margin-right: -250px;
}
.main-inner {
	margin-right: 250px;
	background-color: #fefefe;
	/*	position:relative;
	 top:20px;*/
	-webkit-border-radius: 0 10px 0 0;
	border-radius: 0 10px 0 0;
	border: 1px solid rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
	box-shadow: 0 0 10px 1px rgba(0,0,0,.05);
	padding: 30px 5%;
}
.main-inner h2 {
	margin: 20px 0 5px 0;
}
.right-col {
	float: right;
	width: 220px;
	/*padding-left: 20px;*/
}

/* Footer */

.footer {
	text-align: center;
	clear: both;
	color: #888;
	padding: 20px;
}
.footer img {
	display: none;
}
/*左栏导航：begin*/
.logo {
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid #fff;
	-webkit-box-shadow: -15px 0 10px 0 rgba(0,0,0,.05);
	-moz-box-shadow: -15px 0 10px 0 rgba(0,0,0,.05);
	box-shadow: -15px 0 10px 0 rgba(0,0,0,.05);
	margin-right: -1px;
	position: relative;
	z-index: 2;
	padding: 15px 0;
	text-align: center;
}
.logo a {
	font-size: 30px;
	color: RGB(241,108,50);
	font-weight: bold;
	font-family: microsoft yahei;
}

.top-nav > li {
	/*border-bottom: 1px dashed #ddd;*/
	border-bottom: 1px solid rgba(78, 68, 60, 0.1);;
}

.top-nav > li > a {
	display: block;
	text-align: right;
	vertical-align: middle;
	cursor: pointer;
	font-weight: bold;
	background-color: rgba(255, 255, 102, 0);
	opacity: 0.6;
	font-size: 1.2em;
	color: #000;
	padding: 0 20px;
	height: 60px;
	line-height: 60px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.top-nav > li > a.active, .top-nav > li > a:hover {
	opacity: 1;
	background-color: #E85431;
	color: #fff;
}
/*左栏导航：end*/

/*文章列表:begin*/

.article-list > li {
	padding: 2.8em 2% 1em 20%;
	border-bottom: 1px solid rgba(78, 68, 60, 0.1);
	overflow: hidden;
}
.article-list header a {
	color: rgba(78, 68, 60, 0.9);
	text-decoration: none;
}
.article-list aside {
	float: left;
	width: 20%;
	margin: -2em 0 0 -22%;
	font-size: .85em;
	line-height: 2;
	color: rgba(78, 68, 60, 0.7);
}
.article-content {

}
#disqus_thread {
	margin-top: 25px;
}
/*文章列表:end*/

/*文章内容:begin*/
.post-container ol, .post-container ul {
	margin: 0 0 8px 2em;
}
.post-container ul {
	list-style-type: disc;
}

.post-container li p {
	text-indent: 0;
}
.post-container li pre {
	margin-left: 0;
}
.post-container p {
	text-indent: 2em;
	margin-bottom: 5px;
}
/*文章内容:end*/
/*右栏：begin*/
.right-col h2 {
	font-size: 16px;
	color: rgba(0,0,0,.7);
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 10px 0 8px 0;
	padding-bottom: 5px;
	padding-left: 6px;
	position: relative;
	left: -10px;
}
.categories-list a {
	color: rgba(0,0,0,.5);
	transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	-o-transition: color .2s;
	-webkit-transition: color .2s;
	display: block;
	padding: 5px 0;
}
.categories-list a:hover {
	color: rgba(0,0,0,1);
}
.categories-list a > span {
	color: #aaa;
	margin-left: 3px;
}
/*关于我页面：begin*/
#aboutPage {
	padding: 30px 10px 50px 10px;
}
#aboutPage .row {
	position: relative;
	max-width: 1000px;
}
#aboutPage .about-text {
	margin-right: 263px;
}
#aboutPage .about-image {
	position: absolute;
	top: 0;
	right: 0;
}

#aboutPage .myavatar {
	display: block;
	width: 200px;
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg); /* IE 9 */
	-webkit-transform: rotate(-4deg); /* Safari and Chrome */
}
#aboutPage h2 {
	font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 38px;
	margin-top: 0;
}
#aboutPage .about-intro {
	color: #888;
	font-size: 18px;
	font-family: "microsoft yahei", "yahei", "楷体";
	margin: 8px 0;
}
#aboutPage .about-intro strong {
	color: #333;
	font-size: 22px;
	margin: 0 3px;
}
#aboutPage .about-code {
	margin: 5px 0;
	padding: 5px 18px;
}
#aboutPage .timeline {
	position: relative;
	margin-top: 150px;
	height: 60px;
}
#aboutPage .line {
	height: 4px;
	background-color: #888;
	width: 100%;
	top: 50%;
	margin-top: -2px;
	position: absolute;
}
#aboutPage .time-item {
	position: relative;
	display: inline-block;
	zoom: 1;
	margin-right: 50px;
}
#aboutPage .time {
	display: block;
	background-color: #a03;
	color: #fff;
	border-radius: 60px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
#aboutPage .event {
	background-color: rgba(0,0,0,.8);
	padding: 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	display: none;
	position: absolute;
	bottom: 40px;
	color: #fff;
}
#aboutPage .event:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -20px;
	height: 0;
	width: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	border-color: rgba(0,0,0,.8) transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 40px 0 0 0;
}
#aboutPage .time-item:hover .event {
	display: block;
}

/*关于我页面：end*/

/*带图片表格样式:begin*/
.editor-table {
	position: relative;
	border: 1px solid #e7e7e7;
	width: 800px;
	max-width: none;
}

.editor-table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
.editor-table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	background-color:#FFFFFF;
}
.editor-table tr:hover{
	background-color:#FFFFFF;
}
.editor-table td, .editor-table th {
	border: 1px solid #e7e7e7;
	padding: 4px;
	height: 30px;
	min-width: 60px;
	vertical-align:middle;
	text-align:center;
}
/*带图片表格样式:end*/

/*右栏：end*/
@media print, screen and (max-width: 1024px) {
	.wrapper {
		padding-top: 0;
		padding-left: 20px;
	}
	.left-col {
		width: 100%;
	}
	.main-col {
		margin-left: 0;
		width: 100%;
	}
	.main-inner {
		margin-left: 0;
	}
	.top-nav, .top-nav li, .logo {
		float: left;
	}
	.top-nav {
		margin-bottom: -1px;
	}
	.top-nav > li {
		border-right: 1px solid rgba(78, 68, 60, 0.1);
		border-bottom: none;
	}
	.top-nav > li > a {
		padding: 10px 20px;
	}
	.logo {
		height: 60px;
		border: none;
		border-right: 1px solid rgba(0,0,0,.1);
		border-left: 1px solid rgba(0,0,0,.1);
		margin: 0 0 -1px 0;
		padding: 10px 15px;
		-webkit-box-shadow: 0 -15px 10px 1px rgba(0,0,0,.025);
		-moz-box-shadow: 0 -15px 10px 1px rgba(0,0,0,.025);
		box-shadow: 0 -15px 10px 1px rgba(0,0,0,.025);
	}

}
@media print, screen and (max-width: 960px) {
	.article-list aside {
		float: none;
		width: auto;
		margin: 10px;
	}
	.article-list > li {
		padding: 2.8em 0;
	}
	.article-list aside li {
		display: inline-block;
		margin-right: 10px;
	}
}

@media print, screen and (max-width: 720px) {
	.logo {
		height: 50px;
		line-height: 50px;
		padding: 0 12px;
	}
	.logo a {
		font-size: 16px;
	}
	.top-nav > li > a {
		padding: 0 6px;
		font-size: 1em;
		height: 50px;
		line-height: 50px;
	}
	.main-col {
		margin-right: 0;
	}
	.main-inner {
		margin-right: 20px;
		padding: 5px 5% 20px 5%;
		border-radius: 0 10px 10px 10px;
	}
	.right-col {
		display: none;
	}

}

@media print, screen and (max-width: 480px) {
	.wrapper {
		padding: 0;
	}
	.logo {
		height: 45px;
		line-height: 45px;
		padding: 0 10px;
	}

	.top-nav > li > a {
		padding: 0 5px;
		height: 45px;
		line-height: 45px;
	}
	.main-inner {
		margin: 0 10px;
		border-radius: 10px;
		padding: 5px 5% 20px 5%;
	}
	.logo {
		display: none;
	}
	.top-nav li {
		/*float: none;*/
		width: 33%;
	}
	.top-nav > li > a {
		text-align: center;
	}

}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444;
	}
}